<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="MediaStore.createWriteRequest" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.digitech_maker.pvt2025.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/original"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- KondisiAkun as Launcher -->
        <activity android:name="com.digitech_maker.pvt2025.KondisiAkun"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name="com.digitech_maker.pvt2025.RegisterActivity" />
        <activity android:name="com.digitech_maker.pvt2025.LoginActivity" />
        <activity android:name="com.digitech_maker.pvt2025.MainWindow" />
        <activity android:name="com.digitech_maker.pvt2025.Welcom" />
        <activity android:name="com.digitech_maker.pvt2025.LocationActivity"/>
        <activity
            android:name="com.digitech_maker.pvt2025.Result"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.digitech_maker.pvt2025.HasilPengukuran" />

        <!-- Google Play services metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
